version: 2.1
jobs:
  package:
    working_directory: ~/app
    docker:
      - image: docker:17.09.0-ce-dind
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Build and package toolkit
          command: |
            TAG=$CIRCLE_TAG
            if [[ -z $TAG ]]; then
              TAG=$CIRCLE_SHA1
            fi
            docker build -t cloudxlr8r/kf-toolkit:$TAG -t cloudxlr8r/kf-toolkit:latest .
      - run:
          name: DockerHub login
          command: echo $DOCKERHUB_PWD | docker login --username $DOCKERHUB_ID --password-stdin
      - run:
          name: Publish container to DockerHub
          command: |
            TAG=$CIRCLE_TAG
            if [[ -z $TAG ]]; then
              TAG=$CIRCLE_SHA1
            fi
            docker images && docker push $DOCKERHUB_ID/kf-toolkit:$TAG && docker push cloudxlr8r/kf-toolkit:latest


workflows:
  build-pipeline:
    jobs:
      - package:
          name: pacakge-master
          context: org.cloudxlr8r.dockerhub
          filters:
            branches:
              only:
                - master
      - package:
          name: package-tag
          context: org.cloudxlr8r.dockerhub
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
